.Row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

/* TODO refactor */
.RowFDCol {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  flex-direction: column;
}
