@import url('https://fonts.googleapis.com/css?family=Varela+Round');
@import url('https://fonts.googleapis.com/css?family=Leckerli+One');

.Button {
  margin: 0 0.5rem 0 0;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  background: aliceblue;
  padding: 0.5rem;
}

.Button:focus {
  outline: none;
}

.Button:hover {
  color: white;
  background: rgb(4, 91, 167);
}
